.main {
  background-color: #f9fafb;
  padding: 120px 16px;
  text-align: center;
}
.main-content__text {
  margin: 32px 0 20px;
}
.main-content_back-text {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.mobile-text {
  display: none;
}
.main-content_back-text:hover {
  text-decoration: underline;
}
.main-content_back-text:hover svg {
  transform: translateX(-10px);
  transition: all 0.2s ease-in-out;
}
.main-content__subtitle {
  color: var(--primary-color);
  font-weight: normal;
}
.rate__wrapper {
  max-width: 708px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}
.rate-content {
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: #fff;
  padding: 24px;
}
.rate-content__answer-content {
  position: relative;
  overflow: hidden;
}
.rate-content__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.rate-content__inner .rate-content__count {
  color: #4b5563;
  font-size: 14px;
}
.rate-content__progress {
  flex-grow: 1;
  background-color: #e5e7eb;
  padding: 4px;
  border-radius: 4px;
}
.rate-content__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
}
.rate-content__info svg {
  width: 24px;
  height: 16px;
}
.rate-content__info .rate-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rate-content__info .count {
  padding: 0 6px;
  display: flex;
  gap: 4px;
  font-weight: bold;
  background-color: #e5e7ebcc;
  border-radius: 6px;
}
.rate-content__info .reset-progress {
  border: none;
  background-color: transparent;
  outline: none;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  color: #dc2626;
}
.rate-content__info .reset-progress:hover {
  color: #801d1d;
}
.answer-content__topic {
  font-size: 16px;
  color: var(--primary-color);
  text-align: center;
}
.answer-content__question {
  max-width: 550px;
  margin: auto;
  padding: 96px 0;
}

.solution-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 32px 0;
  background-color: #e5e5e5;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
  overflow-y: scroll;
}
.solution-content.active {
  transform: translateY(0%);
}

.answer-content__reveal-answer,
.solution-content__reveal-answer {
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  color: var(--primary-color);
  transition: 0.2s ease-in-out;
}
.solution-content__reveal-answer {
  padding-top: 16px;
}

.solution-content__answer {
  font-size: 20px;
  padding: 0 16px;
  letter-spacing: 1.1px;
  line-height: 1.44;
  max-width: 560px;
  margin: auto;
}
.answer-content__reveal-answer:hover {
  color: #000;
}
.rate-content__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.rate-content__buttons button {
  display: flex;
  white-space: nowrap;
  border-radius: 8px;
  align-items: center;
  gap: 5px;
  padding: 12px 16px;
  flex: 1;
  background-color: white;
  font-size: 16px;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.rate-content__buttons .skip-question {
  color: #dc2626;
  border: 1px solid #dc2626;
}
.rate-content__buttons .know-button {
}
.rate-content__buttons .know-button:hover {
  background-color: #000;
  color: white;
}
.rate-content__buttons .skip-question:hover {
  color: white;
  background-color: #dc2626;
}

@media screen and (max-width:550px) {
  .rate-content__info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .mobile-text {
    display: block;
  }
}
